.btn {
  text-transform: uppercase;
  text-decoration: none;
  &:hover,
  &:focus {
    color: white;
    background-color: $main-color-lilac;
  }

  &--lilac {
    background-color:$main-color-lilac;
    border-color: $main-color-lilac;

    &:hover,
    &:focus {
      background-color: #6b2ee5;
    }
  }
}
