.footer-navigation {
  width: 880px;
  &__list {
    display: flex;
    padding-left: 0;
    list-style: none;
  }

  &__item {
    margin-right: 30px;

    &:first-child {
      padding-left: 28px;
    }
  }

  &__link {
    @mixin third-text;
    color: black;
    text-decoration: none;

    &:hover {
      color:#6b2ee5;
    }
  }
}
