.hero {

  &--promo {
    background-image: url("..//..//img/bg-hero@1x.jpg");
    background-size: 1439px auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #352c27;
    min-height: 500px;
    margin-bottom: 30px;

    @media (--retina) {
      background-image: url("..//../img/bg-hero@2x.jpg")
    }
  }

  &__title {
    width: 500px;
    position: relative;
    margin-top: 0px;
    padding-top: 72px;
    @mixin main-text;
    color: white;
    margin-bottom: 46px;

    &::before {
      content: "";
      position: absolute;
      bottom: -23px;
      width: 37px;
      height: 3px;
      left: 1px;
      background-color: #5f29cc;
    }
  }

  &__text {
    @mixin secondary-text;
    line-height: 26px;
    width: 500px;
    color: white;
    margin-bottom: 30px;
  }

  &__buttons {
    display: flex;
  }

  &__button {
    @mixin third-text;
    color: white;
    width: 117px;
    padding-right: 33px;
    padding-left: 33px;
    border: 1px solid white;
    padding-top: 18px;
    margin-right: 10px;
    padding-bottom: 15px;

    &:hover {
      border-color: $main-color-lilac;
    }
  }

  &__person-name {
    font-size: 18px;
    font-weight: $font-weight-basic;
    line-height: $line-height-basic;
    display: flex;
    justify-content: flex-end;
    margin-top: -3px;
    margin-bottom: 0;
    color:white;
  }

  &__person-position {
    @mixin fourth-text;
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin-top: 3px;
    text-align: right;
    color: white;

    &::before {
      content: "";
      position: absolute;
      width: 83px;
      border-bottom: 1px solid white;
      right: -1px;
      bottom: -2px;
      color: white;

    }
  }

}
