.promo {
  min-height: 540px;
  background-color: #5b5858;
  background-image: url("../../img/bg/bg-promo@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1440px auto;

  @media (--retina) {
    background-image: url("../../img/bg/bg-promo@2x.jpg");
  }

  &__wrapper {
    width: 630px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 171px;
  }

  &__title {
    @mixin main-text;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    color: white;
  }

  &__text {
    @mixin secondary-text;
    margin-bottom: 46px;
    line-height: 26px;
    text-align: center;
    color: white;
  }

  &__btn {
    @mixin fourth-text;
    display: block;
    width: 241px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
    color: white;
    background-color: $main-color-lilac;
    border-radius: 3px;

    &:hover {
      color: white;
      background-color: #6b2ee5;
    }
  }
}
