.quote {
  display: flex;
  min-height: 506px;

  &__content,
  &__person {
    flex-basis: 50%;
    box-sizing: border-box;
  }

  &__content {
    padding-top: 70px;
  }

  &__person {
    display: flex;
    justify-content: flex-end;
    padding-right: 44px;
  }

  &__name {
    @mixin main-text;
    position: relative;
    margin-bottom: 45px;

    &::before {
      content: "";
      position: absolute;
      left: 1px;
      width: 37px;
      height: 3px;
      background-color: $main-color-lilac;
      bottom: -22px;
    }
  }
  &__text {
    @mixin secondary-text;
    line-height: 26px;
  }
  &__cite {
    margin-right: 0;
    margin-left: 0;
  }
}
