.reviews {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  padding-right: 120px;
  padding-left: 120px;
  overflow: hidden;

  &__item {
    display: flex;

    &--hidden {
      display: none;
    }
  }
}
