.reviews-slider {
  background-color: white;

  &__wrapper {
    position: relative;
    padding-bottom: 60px;
  }

  &__title {
    @mixin main-text;
    margin-top: 54px;
    margin-right: 5px;
    margin-bottom: 20px;
    text-align: center;
  }

  &__toggle {
    position: absolute;
    top: 48%;
    display: flex;
    justify-content: space-between;
    width: 1200px;
  }

  &__button {
    position: relative;
    width: 52px;
    height: 52px;
    background-color: #efe9fa;
    border: none;
    border-radius: 100%;

    &::after {
      content: "";
      position: absolute;
      top: 21px;
      left: 22px;
      width: 7px;
      height: 7px;
      border-right: 2px solid #5f29cc;
      border-bottom: 2px solid #5f29cc;
      transform: rotate(136deg);
    }

    &--rotate {

      &::after {
        transform: rotate(-45deg);
      }
    }

    &--active {
      background-color: $main-color-lilac;
      &::after {
        border-right: 2px solid white;
        border-bottom: 2px solid white;
      }
    }

  }
}
