.slider-toggle {
  position: absolute;
  top: 48%;
  display: flex;
  justify-content: space-between;
  width: 1200px;

  &--correct-position {
    top: 44%;
  }

  &__button {
    position: relative;
    width: 52px;
    height: 52px;
    background-color: #efe9fa;
    border: none;
    border-radius: 100%;

    &:hover {
      background-color: #5f29cc;
      &::after {
        border-right: 2px solid white;
        border-bottom: 2px solid white;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 21px;
      left: 22px;
      width: 7px;
      height: 7px;
      border-right: 2px solid $main-color-lilac;
      border-bottom: 2px solid $main-color-lilac;
      transform: rotate(136deg);
    }

    &--rotate {

      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}
