.social {
  padding-bottom: 45px;

  &__title {
    font-size: 28px;
    line-height: $line-height-basic;
    font-weight: $font-weight-basic;
    margin-top: 37px;
    text-align: center;
    margin-bottom: 25px;
  }

  &__list {
    display: flex;
    justify-content: space-around;
  }

  &__link {
    @mixin fourth-text;
    display: block;
    width: 222px;
    padding-bottom: 15px;
    padding-top: 20px;
    padding-left: 35px;
    box-sizing: border-box;
    color: $color-grey-text;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    border: 1px solid #ebebeb;
    margin-right: 13px;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }

    &--vk,
    &--twitter,
    &--fb,
    &--linkedIn,
    &--instagram {
      &::before {
        content: "";
        position: absolute;
        background-image: url("..//..//img/spritesheet.png");
        cursor: pointer;
        width: 27px;
        height: 27px;
      }
    }

    &--vk {
      &::before {
        background-position: 31px 28px;
        left: 51px;
        top: 14px;
      }
    }

    &--fb {
      &::before {
        background-position: 36px -3px;
        top: 12px;
        left: 55px;
      }
    }

    &--linkedIn {
      &::before {
        background-position: -37px -3px;
        top: 12px;
        left: 60px;
      }
    }

    &--instagram {
      &::before {
        background-position: 29px -35px;
        top: 11px;
        left: 58px;
      }
    }

    &--twitter {
      &::before {
        background-position: 1px 30px;
        top: 12px;
        left: 61px;
      }
    }

  }
}
