.user-block {
  width: 138px;
  text-align: center;
  border: 1px solid #5f29cc;
  padding-top: 15px;
  padding-bottom: 9px;
  cursor: pointer;
  &__entrance {
    @mixin fourth-text;
    vertical-align: top;
  }
}
