.user-block {
  cursor: pointer;
  &__entrance {
    @mixin fourth-text;
    display: block;
    width: 138px;
    padding-top: 12px;
    padding-bottom: 14px;
    text-align: center;
    color: $main-color-lilac;
    border: 1px solid $main-color-lilac;
  }
}
