@define-mixin main-text {
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
}

@define-mixin secondary-text {
  font-weight: 400;
  font-size: 16px;
}

@define-mixin third-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

@define-mixin fourth-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
}
