$font-family-set: "Open Sans", Arial, sans-serif;
$line-height-basic: 1.2;
$font-weight-basic: 400;

$color-grey-text: #808080;
$main-color-lilac: #5f29cc;

@custom-media --retina (min-resolution: 144dpi), (min-resolution: 1.5dppx);
